@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Betania+Patmos+In&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

header {
  background-image: url("../imgs/hero bg img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll; /* default */
  background-attachment: local;
  background-attachment: fixed;
  background-size: cover;
}
header nav .container {
  padding: 30px 0px;
  color: white;
}
header nav .container .nav_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header nav .container .nav_top ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav .container .nav_top ul li {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
header nav .container .nav_top ul li:hover {
  color: #0099a3;
}
header nav .container .nav_top ul li::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
  background-color: #0099a3;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
}
header nav .container .nav_top ul li:hover::after {
  width: 100%;
}
header nav .container .nav_bottom {
  padding-top: 25px;
}
header nav .container .nav_bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
header nav .container .nav_bottom ul li {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
header nav .container .nav_bottom ul li:hover {
  color: #0099a3;
}
header nav .container .nav_bottom ul li::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
  background-color: #0099a3;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
}
header nav .container .nav_bottom ul li:hover::after {
  width: 100%;
}
header .hero .container {
  text-align: center;
  padding: 100px 0px;
  color: white;
}
header .hero .container h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  padding-bottom: 10px;
}
header .hero .container h2 {
  font-family: "Betania Patmos In", cursive;
  font-size: 32px;
  padding-bottom: 50px;
  color: white;
}
header .hero .container .bottom {
  padding-top: 50px;
}
header .hero .container .bottom ul:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #0099a3;
  padding: 10px 20px;
  margin: 0px 400px;
  color: white;
}
header .hero .container .bottom ul:nth-of-type(1) li {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
header .hero .container .bottom ul:nth-of-type(1) li::after {
  position: absolute;
  transition: all 0.3s ease;
  content: "";
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
}
header .hero .container .bottom ul:nth-of-type(1) li:hover::after {
  width: 100%;
}
header .hero .container .bottom ul:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  border: 1px solid;
  margin: 0px 200px;
  color: #4b4b4b;
  background-color: rgba(255, 255, 255, 0.5764705882);
}
header .hero .container .bottom ul:nth-of-type(2) li {
  border-right: 1px solid gray;
}

main {
  background-image: url("../imgs/main bg img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll; /* default */
  background-attachment: local;
  background-attachment: fixed;
  background-size: cover;
}
main .s1 {
  background-color: rgba(255, 255, 255, 0.521);
}
main .s1 .container .s1_title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
main .s1 .container .s1_title h1 {
  font-family: "Betania Patmos In", cursive;
  font-weight: 400;
}
main .s1 .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  position: relative;
}
main .s1 .container .box .arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  left: 10px;
  gap: 1210px;
  top: 120px;
  font-size: 40px;
  color: white;
}
main .s1 .container .box .card {
  width: 270px;
  transition: all 0.3s ease;
  background-color: white;
  cursor: pointer;
}
main .s1 .container .box .card:hover {
  transform: scale(1.05);
}
main .s1 .container .box .card img {
  width: 100%;
}
main .s1 .container .box .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .s1 .container .box .card .info .info1 h3 {
  font-family: "Betania Patmos In", cursive;
  padding: 10px 0px;
}
main .s1 .container .box .card .info .info2 h2 {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
}
main .s1 .container .box .card .info .info2 h2 span {
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-top: 40px;
}
main .s2 {
  background-color: rgba(255, 255, 255, 0.582);
  background-attachment: scroll; /* default */
  background-attachment: local;
  background-attachment: fixed;
}
main .s2 .container {
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}
main .s2 .container video {
  width: 1000vh;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .s2 .container .circle {
  text-align: center;
  position: absolute;
  left: 530px;
  bottom: 320px;
  color: rgba(255, 255, 255, 0.13);
  width: 117px;
  height: 117px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}
main .s2 .container .circle:hover {
  color: white;
  transform: scale(1.1);
}
main .s2 .container .circle:active {
  transform: scale(0.9);
}
main .s2 .container .circle i {
  font-size: 40px;
}
main .s3 {
  background-color: rgba(255, 255, 255, 0.418);
}
main .s3 .container {
  padding: 50px 0px;
}
main .s3 .container .s3_title {
  text-align: center;
  padding: 50px 0px;
  color: white;
}
main .s3 .container .s3_title h1 {
  font-family: "Betania Patmos In", cursive;
}
main .s3 .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .s3 .container .box .card {
  width: 288px;
  border: 1px solid;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.507);
  cursor: pointer;
  transition: all 0.3s ease;
}
main .s3 .container .box .card:hover {
  transform: scale(1.05);
}
main .s3 .container .box .card:active {
  transform: scale(0.9);
}
main .s3 .container .box .card i {
  font-size: 30px;
  padding: 15px;
  padding-top: 30px;
}
main .s3 .container .box .card h2 {
  font-family: "Playfair Display", serif;
  padding: 15px;
}
main .s3 .container .box .card p {
  padding: 20px 40px;
}
main .s4 {
  background-color: rgba(255, 255, 255, 0.418);
}
main .s4 .container {
  padding: 50px;
}
main .s4 .container .s4_title {
  text-align: center;
  padding: 30px;
}
main .s4 .container .s4_title h1 {
  font-family: "Betania Patmos In", cursive;
}
main .s4 .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
main .s4 .container .box .box1 {
  width: 347px;
  height: 300px;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
}
main .s4 .container .box .box1:hover {
  transform: scale(1.02);
}
main .s4 .container .box .box1 img {
  width: 170%;
}
main .s4 .container .box .box1 .info {
  background-color: rgba(255, 255, 255, 0.76);
  position: absolute;
  top: 10px;
  padding: 30px 10px;
  width: 100%;
}
main .s4 .container .box .box1 .info h3 {
  font-family: "Betania Patmos In", cursive;
  padding-bottom: 20px;
}
main .s4 .container .box .box1 .info p {
  font-size: 12px;
}
main .s4 .container .box .box1 .arrow {
  position: absolute;
  bottom: 50px;
  right: 40px;
  border: 1px solid white;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}
main .s4 .container .box .box1 .arrow:hover {
  transform: scale(1.1);
}
main .s4 .container .box .box1 .arrow i {
  font-size: 30px;
}
main .s4 .container .box .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
main .s4 .container .box .box2 .card {
  width: 304px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
main .s4 .container .box .box2 .card:hover {
  transform: scale(1.1);
}
main .s4 .container .box .box2 .card img {
  width: 100%;
}
main .s4 .container .box .box2 .card .info {
  background-color: rgba(255, 255, 255, 0.801);
  position: absolute;
  bottom: 4px;
  padding: 15px;
  width: 250px;
}
main .s4 .container .box .box2 .card .info h3 {
  font-size: 20px;
  font-family: "Betania Patmos In", cursive;
}
main .s4 .container .box .box2 .card .info p {
  font-size: 10px;
  padding-top: 10px;
  font-weight: 300;
}
main .s4 .container .box .box2 .card .arrow {
  font-size: 30px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  color: white;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
main .s4 .container .box .box2 .card .arrow i {
  font-size: 20px;
}
main .s5 {
  background-color: rgba(255, 255, 255, 0.418);
}
main .s5 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}
main .s5 .container form {
  text-align: center;
  width: 477px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.699);
  transition: all 0.3s ease;
  cursor: pointer;
  gap: 30px;
}
main .s5 .container form:hover {
  transform: scale(1.05);
}
main .s5 .container form input {
  width: 351px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.527);
  border: none;
  outline: 1px solid #0099a3;
}
main .s5 .container form button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 50px;
}
main .s5 .container form .form_title {
  padding: 10px 0px;
  padding-top: 70px;
  text-align: center;
}
main .s5 .container form .form_title h1 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}
main .s5 .container form .form_title p {
  padding: 20px 50px;
}
main .s5 .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 477px;
}
main .s5 .container .box .box_title {
  padding: 30px 0px;
  padding: 10px 40px;
  padding-bottom: 20px;
}
main .s5 .container .box .box_title p {
  padding: 10px 40px;
  font-weight: 300;
}
main .s5 .container .box .box_title h1 {
  font-family: "Betania Patmos In", cursive;
  padding: 10px 40px;
}
main .s5 .container .box .card {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}
main .s5 .container .box .card:hover {
  transform: scale(1.2);
}
main .s5 .container .box .card {
  gap: 10px;
}
main .s5 .container .box .card:hover .info {
  transform: translateY(0);
}
main .s5 .container .box .card .info {
  transition: all 0.3s ease;
  transform: translateY(-500px);
  cursor: pointer;
}
main .s5 .container .box .card .info h4 {
  font-size: 12px;
}
main .s5 .container .box .card .info p {
  font-size: 12px;
}
main .s5 .container .box .card img {
  width: 100%;
}
main .s6 {
  background-color: rgba(255, 255, 255, 0.767);
}
main .s6 .container {
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .s6 .container .info {
  display: flex;
  width: 600px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
main .s6 .container .info button {
  padding: 5px 5px;
  border: none;
  background-color: #0099a3;
  color: white;
  margin-left: 140px;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .s6 .container .info button:hover {
  color: black;
  background-color: transparent;
  transform: scale(1.1);
}
main .s6 .container .info button:active {
  transform: scale(0.9);
}
main .s6 .container .info h1 {
  font-family: "Betania Patmos In", cursive;
}
main .s6 .container .info p {
  padding: 10px 100px;
}
main .s7 {
  background-color: rgba(255, 255, 255, 0.418);
}
main .s7 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main .s7 .container .info h1 {
  font-size: 128px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .s7 .container .info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main .s7 .container .bottom {
  text-align: center;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 15px;
}/*# sourceMappingURL=main.css.map */